.text2-center {
  text-align: center;
  margin: 1.25rem 0;
  border-top: 1px solid #dadada;
  padding: 1.25rem 0;
}

.text-center1 {
  text-align: center;
  margin: 1.25rem 0;
  border-bottom: 1px solid #dadada;
  padding: 1.25rem 0;
}

.col-md-3 {
  margin: 1.25rem 0;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.rounded {
  border-radius: .25rem !important;
}

.border {
  border: 0px !important;
}

h1 {
  color: #2c3134;
}

h2 {
  color: #2c3134;
}

