div.bg-gray {
  background: #f5f5f5;
}

div.padding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

div.system-status {
  background: #fff;
  padding: 25px;
}

div.system-status .glyphicon-ok {
  color: #3c763d;
}

div.system-status .glyphicon {
  margin-right: 8px;
}

div.system-status .glyphicon-repeat {
  color: #3c763d;
  font-weight: bold;
}

div.system-status .glyphicon-zoom-in {
  color: #ed9c01;
}

div.system-status .glyphicon-remove {
  color: #a94442;
}

div.system-status .well .latest-update-timestamp {
  font-size: .9em;
  color: #888;
  margin-top: 5px;
}

div.system-status .well {
  background: none;
  border: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
}

div.system-status .well h3 {
  margin-top: 0;
}

